* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --primary-color: #2bff64;
  --bg-color-primary: #0a6923;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Fira Code', monospace;
  border: 1px solid black;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32rem;
  background-color: aliceblue;
}

form {
  margin-top: 4rem !important;
  margin: 0 auto;
  display: grid;
  width: 50%;
  background-color: aliceblue;
}

input,
button {
  border: 1px solid rgb(0, 119, 22);
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
}

label {
  margin-top: 1rem;
}

button {
  margin-top: 2rem;
  padding: 0.5rem;
  text-transform: uppercase;
  background-color: var(--bg-color-primary);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #22dd54;
}
