* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Jura', sans-serif;
  font-family: 'Macondo', cursive;
  background-image: url('https://th.bing.com/th/id/OIP.UDl4lCX_mdzNyVO-D1FbFwHaEy?pid=ImgDet&rs=1');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: 3.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

header,
main,
footer {
  width: 80%;
  background-color: antiquewhite;
  margin: 0 auto;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

li {
  margin-right: 3rem;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: rgb(224, 133, 14);
  font-size: 2.3rem;
}

main section h1 {
  font-size: 5rem;
}

main section p {
  text-align: justify;
}

main section:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-inline: 2rem;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-inline: 3rem;
  margin-bottom: 100rem;
}

img {
  padding-inline-start: 2.5rem;
}

.contato {
  background-color: red;
  height: 100%;
  background-image: url('https://th.bing.com/th/id/OIP.UDl4lCX_mdzNyVO-D1FbFwHaEy?pid=ImgDet&rs=1');
}

.social,
p {
  cursor: auto;
  padding: 1rem;
}

button {
  text-transform: uppercase;
  font-size: 2.4rem;
  padding: 1rem;
  border-radius: 3rem;
  border: 1px solid red;
  color: red;
  background-color: rgb(238, 237, 236);
  cursor: pointer;
}

button:hover {
  color: red;
  background-color: rgb(241, 191, 144);
  font-size: 3.2rem;
}

main ul {
  color: rgb(179, 148, 10);
  background-color: rgb(252, 211, 178);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h2 {
  color: rgb(179, 148, 10);
}

main {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

main-about p {
  line-height: 3rem;
}

main-about h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

table thead {
  margin-top: 1.5rem;
}

th,
td {
  border: 1px solid rgb(0, 0, 0);
  padding: 2rem;
}

table {
  border: 1px solid;
}

main section:first-child {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url('https://e2.365dm.com/18/11/1600x900/skysports-f1-sebastian-vettel_4482614.jpg');
  color: rgb(209, 174, 15);
}

.batata,
.goiaba,
.migau {
  margin-top: 5rem;
  margin-bottom: 13rem;
}

main section:last-child {
  width: 50%;
  height: 58.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url('https://th.bing.com/th?q=Fundo+Laranja&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=pt-BR&cc=BR&setlang=pt-br&adlt=moderate&t=1&mw=247');
}

h1 {
  color: rgb(122, 8, 8);
}


input {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }